@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');




/* ubiversal */

*{
    font-family: "Open Sans";
    margin: 0;
    padding: 0;
}

/* navbar */

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* nav items */

.nav-items{
    display: flex;
    gap: 50px;
    align-items: center;
    margin: 50px 230px;
}


.item{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}


/* nav title */
.nav-title{
    font-size: 45px;
    font-weight: 800;
    margin: 51px 226px;
}

.nav-title span{
    color: #FD6E0A;
}

/* button */
.btn{
    width: 150px;
    height: 64px;
    background: #FD6E0A;
    font-family: "Open Sans";
    border-radius: 5px;
    font-size: 20px;
    font-weight: 700;
    padding: 18px 35px 19px 36px;
}
